In [6]:
# from google.colab import drive
# drive.mount('/content/drive/')

In [7]:
import pandas as pd
file_path = "Mx_Min_Price.csv"
df=pd.read_csv(file_path)
df

        Unnamed: 0  propertycode   Maximum  Minimum  Normalized Maximum
0                0        634876  18083.36    10.16            0.003995
1                1       8328096  18083.36    10.16            0.034633
2                2       8323442  18083.36    10.16            0.032179
3                3          7975  18083.36    10.16            0.048211
4                4          7975  18083.36    10.16            0.049099
...            ...           ...       ...      ...                 ...
165868      165868        268416  18083.36    10.16            0.003966
165869      165869        268416  18083.36    10.16            0.004407
165870      165870        268416  18083.36    10.16            0.004959
165871      165871        268416  18083.36    10.16            0.003318
165872      165872        268416  18083.36    10.16            0.003318

[165873 rows x 5 columns]

In [8]:
file_path = "Order_details.csv"
df1=pd.read_csv(file_path,encoding='latin1')
df1

,id,propertycode,dtcollected,reservation date,los,guests,roomtype,onsiteprice,ratedescription,ratetype,...,roomamenities,maxoccupancy,ispromo,closed,discount,promoname,proxyused,mealinclusiontype,hotelblock,input_dtcollected
0,50677497,634876,10/12/2019 15:46,11/2/2019,1,1,Double Room,82.36,"Room size: 15 mÂ²/161 ftÂ², Shower, 1 king bed",Cancellation policy,...,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,1,Y,N,6.24,NaN,media:M3diAproxy@173.44.165.126:80,Free Breakfast,NaN,10/13/2019
1,50672149,8328096,10/12/2019 15:47,11/30/2019,1,1,Vacation Home,636.09,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Cancellation policy,...,Air conditioning: ;Closet: ;Fireplace: ;Free W...,4,N,N,0.00,NaN,media:M3diAproxy@173.44.164.126:80,NaN,NaN,10/13/2019
2,50643430,8323442,10/12/2019 15:47,12/20/2019,1,1,Vacation Home,591.74,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Extra low price! (non-refundable),...,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,4,N,N,0.00,NaN,media:M3diAproxy@173.44.166.122:80,NaN,NaN,10/13/2019
3,50650317,7975,10/12/2019 15:47,12/28/2019,1,1,Standard Triple Room,881.48,"Room size: 20 mÂ²/215 ftÂ², Shower, 3 single beds",Extra low price! (non-refundable),...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,1,N,N,0.00,NaN,media:M3diAproxy@209.242.219.141:80,NaN,NaN,10/13/2019
4,50650318,7975,10/12/2019 15:47,12/28/2019,1,1,Standard Triple Room,897.53,"Room size: 20 mÂ²/215 ftÂ², Shower, 3 single beds",Extra low price! (non-refundable),...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,3,N,N,0.00,NaN,media:M3diAproxy@209.242.219.141:80,Free breakfast for {3},NaN,10/13/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165868,88527729,268416,10/13/2019 1:03,11/26/2019,1,1,Twin Room,81.83,"Room size: 17 mÂ²/183 ftÂ², Non-smoking, Showe...","Free cancellation before November 25, 2019, Pa...",...,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,2,N,N,0.00,NaN,media:M3diAproxy@173.44.166.122:80,NaN,NaN,10/13/2019
165869,88527730,268416,10/13/2019 1:03,11/26/2019,1,1,Twin Room,89.80,"Room size: 17 mÂ²/183 ftÂ², Non-smoking, Showe...",Extra low price! (non-refundable),...,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,2,N,N,0.00,NaN,media:M3diAproxy@173.44.166.122:80,Free breakfast for {2},NaN,10/13/2019
165870,88527731,268416,10/13/2019 1:03,11/26/2019,1,1,Twin Room,99.78,"Room size: 17 mÂ²/183 ftÂ², Non-smoking, Showe...","Free cancellation before November 25, 2019, Pa...",...,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,2,N,N,0.00,NaN,media:M3diAproxy@173.44.166.122:80,Free breakfast for {2},NaN,10/13/2019
165871,88527215,268416,10/13/2019 1:03,11/26/2019,1,1,Twin Standard,70.13,"Pay nothing until November 21, 2019, Free Wi-F...","Free cancellation before November 23, 2019",...,Air conditioning: ;Free Wi-Fi in all rooms!: ;...,1,N,N,0.00,NaN,media:M3diAproxy@173.44.166.122:80,NaN,NaN,10/13/2019
165872,88528182,268416,10/13/2019 1:03,11/26/2019,1,1,Double Standard,70.13,"Pay nothing until November 21, 2019, Free Wi-F...","Free cancellation before November 23, 2019",...,Air conditioning: ;Free Wi-Fi in all rooms!: ;...,1,N,N,0.00,NaN,media:M3diAproxy@173.44.166.122:80,NaN,NaN,10/13/2019

In [9]:
from sklearn.impute import SimpleImputer
numeric_cols = df1.select_dtypes(include=['float', 'int']).columns

# Apply mean imputation only to numeric columns
imputer = SimpleImputer(strategy='mean')
df1[numeric_cols] = imputer.fit_transform(df1[numeric_cols])

In [10]:
file_path = "Property_details.csv"
df2=pd.read_csv(file_path,encoding='latin1')
df2

,propertyid,propertyname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,url
0,1771651,Mediteran Bungalow Galeb,Vukovarska 7,Omis,Croatia,21310.0,Holiday parks,4,43.440124,16.682505,https://www.booking.com/hotel/hr/bungalow-luxu...
1,177167,Hotel Polonia,Plac Teatralny 5,Torun,Poland,NaN,Hotels,3,53.012329,18.603800,https://www.agoda.com/en-gb/hotel-polonia/hote...
2,1771675,Rifugio Sass Bece,"Belvedere del Pordoi,1",Canazei,Italy,38032.0,Hotels,3,46.477920,11.813350,http://www.booking.com/hotel/it/rifugio-sass-b...
3,177168,Madalena Hotel,Mykonos,Mykonos,Greece,84600.0,Hotels,3,37.452316,25.329849,https://www.agoda.com/en-gb/madalena-hotel/hot...
4,1771718,Pension Morenfeld,Mair im Korn Strasse 2,Lagundo,Italy,39022.0,Hotels,3,46.682780,11.131736,http://www.booking.com/hotel/it/pension-morenf...
...,...,...,...,...,...,...,...,...,...,...,...
106188,177055,Serenity Hotel,Delfin Str.,Sveti Vlas,Bulgaria,8256.0,Hotels,3,42.711699,27.754410,http://www.booking.com/hotel/bg/serenity.en-gb...
106189,177062,Velina Spa Hotel,"14, Doctor Doshnikov Str.",Velingrad,Bulgaria,4600.0,Hotels,4,42.001022,23.984564,http://www.booking.com/hotel/bg/velina-spa.en-...
106190,177074,Hotel Fenix - Halfboard,Sunny Beach,Sunny Beach,Bulgaria,8240.0,Hotels,4,42.686830,27.709875,http://www.booking.com/hotel/bg/fenix.en-gb.html
106191,177117,Mura Hotel,39 Glazne Str.,Bansko,Bulgaria,2770.0,Hotels,3,41.836650,23.483778,http://www.booking.com/hotel/bg/mura.en-gb.html
106192,177162,Hotel Rainbow 3 - Resort Club,"Sunny Beach, Cacao Beach",Sunny Beach,Bulgaria,8240.0,Hotels,3,42.674268,27.704392,http://www.booking.com/hotel/bg/rainbow-3-reso...

**Data cleaning**

In [11]:
values_df1 = set(df1['sourceurl'].unique())
values_df2 = set(df2['url'].unique())

# Intersection
overlap = values_df1.intersection(values_df2)
print(f"Number of overlapping values: {len(overlap)}")
print(f"Percentage of df1 values in overlap: {len(overlap) / len(values_df1) * 100:.2f}%")
print(f"Percentage of df2 values in overlap: {len(overlap) / len(values_df2) * 100:.2f}%")

Number of overlapping values: 0
Percentage of df1 values in overlap: 0.00%
Percentage of df2 values in overlap: 0.00%

**FEATURES ENGINEERING**

In [12]:
categorical_columns = df1.select_dtypes(include='object').columns.tolist()
categorical_columns

['dtcollected',
 'reservation date',
 'roomtype',
 'ratedescription',
 'ratetype',
 'sourceurl',
 'roomamenities',
 'ispromo',
 'closed',
 'promoname',
 'proxyused',
 'mealinclusiontype',
 'hotelblock',
 'input_dtcollected']

We will gather usefull information from these columns and generate new columns

In [13]:
#Roomamenities
unique_amenities = set()
for amenities in df1['roomamenities']:
    if isinstance(amenities, str):
        for amenity in amenities.split(';'):
            amenity = amenity.strip()
            if amenity:
                unique_amenities.add(amenity)

print(unique_amenities)
len(unique_amenities)

{'Separate living room:', 'Hot tub:', 'Sewing kit:', 'Alarm clock:', 'Scale:', 'Electric blanket:', 'Locker:', 'Kitchenware:', 'Desk:', 'Seating area:', 'Dressing room:', 'Sofa:', 'Slippers:', 'Open air bath privileges:', 'Towels:', 'Humidifier:', 'Laptop workspace:', 'Air conditioning:', 'Toiletries:', 'Heating:', 'Umbrella:', 'Video game console:', 'Washing machine:', 'Vending machine:', 'Wi-Fi [charges apply]:', 'Full kitchen:', 'Telephone:', 'Microwave:', 'Dart board:', 'Wi-Fi [free]:', 'Free instant coffee:', 'Interconnecting room(s) available:', 'Internet access ï¿?LAN:', 'Linens:', 'iPod docking station:', 'Laptop safe box:', 'Kitchen:', 'Coffee/tea maker:', 'Blackout curtains:', 'Refrigerator:', 'Ironing facilities:', 'Additional toilet:', 'Shower:', 'Fire extinguisher:', 'Fireplace:', 'Daily housekeeping:', 'Carpeting:', 'Fan:', 'Complimentary tea:', 'TV:', 'Mirror:', 'Mosquito net:', 'High floor:', 'Air purifier:', 'DVD/CD player:', 'Mini bar:', 'Wooden/parqueted flooring:', 'Pets allowed in room:', 'On-demand movies:', 'High chair:', 'Clothes dryer:', 'Additional bathroom:', 'Clothes rack:', 'Trouser press:', 'Private entrance:', 'Soundproofing:', 'Free Wi-Fi in all rooms!:', 'Closet:', 'Hair dryer:', 'Wi-Fi in public areas:', 'Free bottled water:', 'Shoeshine kit:', 'Separate dining area:', 'Satellite/cable channels:', 'Internet access ï¿?wireless:', 'Carbon monoxide detector:', 'Smoke detector:', 'Extra long bed:', 'Wake-up service:', 'First aid kit:', 'Bathroom phone:', 'In-room tablet:', 'Free welcome drink:', 'Bathrobes:', 'Dishwasher:', 'Whirlpool bathtub:', 'Daily newspaper:', 'TV [flat screen]:', 'TV [in bathroom]:', 'Cleaning products:', 'In-room safe box:'}

91

In [14]:
for amenity in unique_amenities:
    df1[amenity] = df1['roomamenities'].apply(lambda x: amenity in x if isinstance(x, str) else False)
df1

,id,propertycode,dtcollected,reservation date,los,guests,roomtype,onsiteprice,ratedescription,ratetype,...,In-room tablet:,Free welcome drink:,Bathrobes:,Dishwasher:,Whirlpool bathtub:,Daily newspaper:,TV [flat screen]:,TV [in bathroom]:,Cleaning products:,In-room safe box:
0,50677497.0,634876.0,10/12/2019 15:46,11/2/2019,1.0,1.0,Double Room,82.36,"Room size: 15 mÂ²/161 ftÂ², Shower, 1 king bed",Cancellation policy,...,False,False,False,False,False,False,True,False,False,True
1,50672149.0,8328096.0,10/12/2019 15:47,11/30/2019,1.0,1.0,Vacation Home,636.09,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Cancellation policy,...,False,False,False,False,False,False,False,False,False,True
2,50643430.0,8323442.0,10/12/2019 15:47,12/20/2019,1.0,1.0,Vacation Home,591.74,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Extra low price! (non-refundable),...,False,False,False,True,False,False,False,False,False,True
3,50650317.0,7975.0,10/12/2019 15:47,12/28/2019,1.0,1.0,Standard Triple Room,881.48,"Room size: 20 mÂ²/215 ftÂ², Shower, 3 single beds",Extra low price! (non-refundable),...,False,False,False,False,False,False,False,False,False,True
4,50650318.0,7975.0,10/12/2019 15:47,12/28/2019,1.0,1.0,Standard Triple Room,897.53,"Room size: 20 mÂ²/215 ftÂ², Shower, 3 single beds",Extra low price! (non-refundable),...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165868,88527729.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,Twin Room,81.83,"Room size: 17 mÂ²/183 ftÂ², Non-smoking, Showe...","Free cancellation before November 25, 2019, Pa...",...,False,False,False,False,False,False,False,False,False,True
165869,88527730.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,Twin Room,89.80,"Room size: 17 mÂ²/183 ftÂ², Non-smoking, Showe...",Extra low price! (non-refundable),...,False,False,False,False,False,False,False,False,False,True
165870,88527731.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,Twin Room,99.78,"Room size: 17 mÂ²/183 ftÂ², Non-smoking, Showe...","Free cancellation before November 25, 2019, Pa...",...,False,False,False,False,False,False,False,False,False,True
165871,88527215.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,Twin Standard,70.13,"Pay nothing until November 21, 2019, Free Wi-F...","Free cancellation before November 23, 2019",...,False,False,False,False,False,False,False,False,False,True
165872,88528182.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,Double Standard,70.13,"Pay nothing until November 21, 2019, Free Wi-F...","Free cancellation before November 23, 2019",...,False,False,False,False,False,False,False,False,False,True

In [15]:
df1.drop(columns=["roomamenities"],inplace=True)

In [16]:
df1["ratedescription"].to_list()

['Room size: 15 mÂ²/161 ftÂ², Shower, 1 king bed',
 'Shower, Kitchenette, 2 bedrooms, 1 double bed or 2 single beds',
 'Shower, Kitchenette, 2 bedrooms, 1 double bed or 2 single beds',
 'Room size: 20 mÂ²/215 ftÂ², Shower, 3 single beds',
 'Room size: 20 mÂ²/215 ftÂ², Shower, 3 single beds',
 'Room size: 20 mÂ²/215 ftÂ², Shower, 3 single beds',
 'Shower, 1 single bed and 1 double bed',
 'Shower, 1 single bed and 1 double bed',
 'Room size: 15 mÂ²/161 ftÂ², Shower, 1 king bed',
 'Room size: 17 mÂ²/183 ftÂ², Shower, 1 queen bed or 2 single beds',
 'Room size: 18 mÂ²/194 ftÂ², City view, Shower and bathtub, 1 single bed',
 'Room size: 18 mÂ²/194 ftÂ², City view, Shower and bathtub, 1 single bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 2 single beds',
 'Free Wi-Fi, Extra low price! (non-refundable)',
 'Room size: 25 mÂ²/269 ftÂ², City view, 2 single beds or 1 king bed',
 'Free Wi-Fi, Extra low price! (non-refundable)',
 'Free Wi-Fi, Extra low price! (non-refundable)',
 'Free Wi-Fi, Extra low price! (non-refundable)',
 'Free Wi-Fi, Extra low price! (non-refundable)',
 'Room size: 13 mÂ²/140 ftÂ², Non-smoking, Shower, 1 double bed',
 'Room size: 25 mÂ²/269 ftÂ², City view, 2 single beds or 1 king bed',
 'Room size: 25 mÂ²/269 ftÂ², City view, 2 single beds or 1 king bed',
 'Room size: 23 mÂ²/248 ftÂ², 2 single beds',
 'Room size: 23 mÂ²/248 ftÂ², 2 single beds',
 'Room size: 23 mÂ²/248 ftÂ², 2 single beds',
 'Room size: 23 mÂ²/248 ftÂ², 2 single beds',
 'Room size: 23 mÂ²/248 ftÂ², Shower and bathtub, 1 king bed',
 'Room size: 25 mÂ²/269 ftÂ², 2 single beds',
 'Room size: 25 mÂ²/269 ftÂ², 2 single beds',
 'Room size: 25 mÂ²/269 ftÂ², 2 single beds',
 'Room size: 28 mÂ²/301 ftÂ², 1 queen bed',
 'Room size: 28 mÂ²/301 ftÂ², 1 queen bed',
 'Room size: 28 mÂ²/301 ftÂ², 1 queen bed',
 'Room size: 28 mÂ²/301 ftÂ², 1 queen bed',
 'Room size: 28 mÂ²/301 ftÂ², 1 queen bed',
 'Room size: 28 mÂ²/301 ftÂ², 1 queen bed',
 'Room size: 23 mÂ²/248 ftÂ², 2 single beds',
 'Room size: 23 mÂ²/248 ftÂ², 2 single beds',
 'Room size: 23 mÂ²/248 ftÂ², Shower and bathtub, 1 king bed',
 'Room size: 23 mÂ²/248 ftÂ², Shower and bathtub, 1 king bed',
 'Room size: 23 mÂ²/248 ftÂ², Shower and bathtub, 1 king bed',
 'Room size: 23 mÂ²/248 ftÂ², Shower and bathtub, 1 king bed',
 'Room size: 32 mÂ²/344 ftÂ², 1 king bed',
 'Room size: 25 mÂ²/269 ftÂ², City view, Shower and bathtub, 2 single beds or 1 king bed',
 'Room size: 25 mÂ²/269 ftÂ², City view, Shower and bathtub, 2 single beds or 1 king bed',
 'Room size: 25 mÂ²/269 ftÂ², City view, Shower and bathtub, 2 single beds or 1 king bed',
 'Room size: 25 mÂ²/269 ftÂ², City view, Shower and bathtub, 2 single beds or 1 king bed',
 'Room size: 24 mÂ²/258 ftÂ²',
 'Room size: 24 mÂ²/258 ftÂ²',
 'Room size: 24 mÂ²/258 ftÂ²',
 'Free Wi-Fi, Free cancellation before October 13, 2019',
 'Free Wi-Fi, Free cancellation before October 13, 2019',
 'Free Wi-Fi, Free cancellation before October 13, 2019',
 'Room size: 23 mÂ²/248 ftÂ², Shower and bathtub, 1 king bed',
 'Room size: 24 mÂ²/258 ftÂ²',
 'Room size: 25 mÂ²/269 ftÂ², City view, Shower and bathtub, 2 single beds or 1 king bed',
 nan,
 'Room size: 25 mÂ²/269 ftÂ², City view, Shower and bathtub, 2 single beds or 1 king bed',
 'Room size: 25 mÂ²/269 ftÂ², City view, Shower and bathtub, 2 single beds or 1 king bed',
 'Room size: 25 mÂ²/269 ftÂ², City view, Shower and bathtub, 2 single beds or 1 king bed',
 'Room size: 24 mÂ²/258 ftÂ²',
 'Room size: 24 mÂ²/258 ftÂ²',
 'Room size: 32 mÂ²/344 ftÂ², 1 king bed',
 'Room size: 32 mÂ²/344 ftÂ², 1 king bed',
 'Room size: 32 mÂ²/344 ftÂ², 1 king bed',
 'Room size: 32 mÂ²/344 ftÂ², 1 king bed',
 'Free Wi-Fi, Free cancellation before October 13, 2019',
 'Free Wi-Fi, Free cancellation before October 13, 2019',
 'Free Wi-Fi, Free cancellation before October 13, 2019',
 'Free Wi-Fi, Free cancellation before October 13, 2019',
 'Free Wi-Fi, Free cancellation before October 13, 2019',
 'Room size: 32 mÂ²/344 ftÂ², 1 king bed',
 'Free Wi-Fi, Free cancellation before October 13, 2019',
 nan,
 'Shower, 1 queen bed',
 'Shower, 1 queen bed',
 'Shower, 1 queen bed',
 'Room size: 15 mÂ²/161 ftÂ², Shower, 1 double bed',
 'Shower',
 'Shower',
 'Shower',
 'Room size: 15 mÂ²/161 ftÂ², Non-smoking, Shower, 2 single beds',
 'Room size: 15 mÂ²/161 ftÂ², Shower, 1 double bed',
 'Room size: 15 mÂ²/161 ftÂ², Shower, 1 double bed',
 'Room size: 15 mÂ²/161 ftÂ², Shower, 1 double bed',
 'Room size: 15 mÂ²/161 ftÂ², Shower, 1 double bed',
 'Room size: 15 mÂ²/161 ftÂ², Shower, 1 double bed',
 'Room size: 15 mÂ²/161 ftÂ², Shower, 1 double bed',
 'Room size: 15 mÂ²/161 ftÂ², Shower, 1 double bed',
 'Room size: 15 mÂ²/161 ftÂ², Shower, 1 double bed',
 'Room size: 15 mÂ²/161 ftÂ², Non-smoking, Shower, 2 single beds',
 'Room size: 15 mÂ²/161 ftÂ², Non-smoking, Shower, 2 single beds',
 'Room size: 15 mÂ²/161 ftÂ², Non-smoking, Shower, 2 single beds',
 'Room size: 15 mÂ²/161 ftÂ², Non-smoking, Shower, 2 single beds',
 'Room size: 15 mÂ²/161 ftÂ², Non-smoking, Shower, 2 single beds',
 'Room size: 15 mÂ²/161 ftÂ², Non-smoking, Shower, 2 single beds',
 'Room size: 15 mÂ²/161 ftÂ², Non-smoking, Shower, 2 single beds',
 'Room size: 15 mÂ²/161 ftÂ², Non-smoking, Shower, 2 single beds',
 'Free Wi-Fi, Extra low price! (non-refundable)',
 'Room size: 16 mÂ²/172 ftÂ², Shared bathroom, 1 queen bed or 2 single beds',
 'Room size: 16 mÂ²/172 ftÂ², Shared bathroom, 1 queen bed or 2 single beds',
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 single bed',
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 single bed',
 'Room size: 16 mÂ²/172 ftÂ², Shower, 1 single bed',
 'Room size: 16 mÂ²/172 ftÂ², Shower, 1 single bed',
 'Room size: 10 mÂ²/108 ftÂ², Shower, 1 queen bed or 2 single beds',
 'Room size: 10 mÂ²/108 ftÂ², Shower, 1 queen bed or 2 single beds',
 'Room size: 16 mÂ²/172 ftÂ², Shower, 1 queen bed',
 'Room size: 16 mÂ²/172 ftÂ², Shower, 1 queen bed',
 'Room size: 13 mÂ²/140 ftÂ², Shower, 2 single beds',
 'Room size: 13 mÂ²/140 ftÂ², Shower, 2 single beds',
 'Room size: 13 mÂ²/140 ftÂ², Shower, 1 double bed',
 'Room size: 13 mÂ²/140 ftÂ², Shower, 1 double bed',
 'Room size: 17 mÂ²/183 ftÂ², Shower, 1 single bed',
 'Room size: 17 mÂ²/183 ftÂ², Shower, 1 single bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², City view, Non-smoking, Shower, 1 double bed',
 'Room size: 28 mÂ²/301 ftÂ², City view, Balcony/terrace, Non-smoking, Bathtub, 1 double bed and 1 sofa bed',
 'Room size: 28 mÂ²/301 ftÂ², City view, Balcony/terrace, Non-smoking, Bathtub, 1 double bed and 1 sofa bed',
 'Room size: 28 mÂ²/301 ftÂ², City view, Balcony/terrace, Non-smoking, Bathtub, 1 double bed and 1 sofa bed',
 'Room size: 28 mÂ²/301 ftÂ², City view, Balcony/terrace, Non-smoking, Bathtub, 1 double bed and 1 sofa bed',
 nan,
 nan,
 'Free Wi-Fi, Free cancellation before November 17, 2019',
 'Room size: 18 mÂ²/194 ftÂ², Lagoon view, Non-smoking, Shower and bathtub, 2 single beds or 1 double bed',
 'Room size: 18 mÂ²/194 ftÂ², Lagoon view, Non-smoking, Shower and bathtub, 2 single beds or 1 double bed',
 'Room size: 17 mÂ²/183 ftÂ², Shower and bathtub, 1 queen bed or 1 double bed',
 'Room size: 17 mÂ²/183 ftÂ², Shower and bathtub, 1 queen bed or 1 double bed',
 'Room size: 21 mÂ²/226 ftÂ², Shower and bathtub, 1 queen bed or 1 double bed',
 'Room size: 21 mÂ²/226 ftÂ², Shower and bathtub, 1 queen bed or 1 double bed',
 'Room size: 27 mÂ²/291 ftÂ², Lagoon view, Non-smoking, Shower and bathtub, 2 single beds or 1 double bed',
 'Room size: 27 mÂ²/291 ftÂ², Lagoon view, Non-smoking, Shower and bathtub, 2 single beds or 1 double bed',
 'Free Wi-Fi, Free cancellation before November 17, 2019',
 'Free Wi-Fi, Free cancellation before November 17, 2019',
 'Free Wi-Fi, Free cancellation before November 17, 2019',
 'Free Wi-Fi, Free cancellation before November 17, 2019',
 'Free Wi-Fi, Free cancellation before November 17, 2019',
 'Pay nothing until November 14, 2019, Free Wi-Fi, Free cancellation before November 16, 2019',
 'Bathtub, 1 single bed',
 'Free Breakfast, Pay nothing until December 12, 2019, Free Wi-Fi, Free cancellation before December 14, 2019',
 'Free Breakfast, Pay nothing until December 12, 2019, Free Wi-Fi, Free cancellation before December 14, 2019',
 'Free Breakfast, Pay nothing until December 10, 2019, Free Wi-Fi, Free cancellation before December 12, 2019',
 'Free Breakfast, Pay nothing until December 12, 2019, Free Wi-Fi, Free cancellation before December 14, 2019',
 'Room size: 25 mÂ²/269 ftÂ², Balcony/terrace, Shower and bathtub, 1 king bed or 1 sofa bed',
 'Room size: 25 mÂ²/269 ftÂ², Balcony/terrace, Shower and bathtub, 1 king bed or 1 sofa bed',
 nan,
 'Bathtub, 1 double bed or 2 single beds',
 'Bathtub, 1 sofa bed and 2 single beds or 1 single bed and 1 double bed and 1 sofa bed',
 'Room size: 20 mÂ²/215 ftÂ², City view, Shower and bathtub, 1 double bed or 2 single beds',
 'Room size: 18 mÂ²/194 ftÂ², City view, Shower and bathtub, 1 single bed',
 'Room size: 18 mÂ²/194 ftÂ², City view, Shower and bathtub, 1 single bed',
 'Free Wi-Fi, Extra low price! (non-refundable)',
 'Free Wi-Fi, Extra low price! (non-refundable)',
 'Free Wi-Fi, Extra low price! (non-refundable)',
 'Room size: 20 mÂ²/215 ftÂ², City view, Shower and bathtub, 1 double bed or 2 single beds',
 'Room size: 20 mÂ²/215 ftÂ², City view, Shower and bathtub, 1 double bed or 2 single beds',
 'Room size: 20 mÂ²/215 ftÂ², City view, Shower and bathtub, 1 double bed or 2 single beds',
 'Room size: 20 mÂ²/215 ftÂ², City view, Shower and bathtub, 1 double bed or 2 single beds',
 'Room size: 20 mÂ²/215 ftÂ², City view, Shower and bathtub, 1 double bed or 2 single beds',
 'Free Wi-Fi, Extra low price! (non-refundable)',
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 single bed',
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 single bed',
 'Room size: 16 mÂ²/172 ftÂ², Shower, 1 single bed and 1 double bed',
 'Room size: 16 mÂ²/172 ftÂ², Shower, 1 single bed and 1 double bed',
 'Room size: 16 mÂ²/172 ftÂ², Shower, 1 single bed and 1 double bed',
 'Room size: 16 mÂ²/172 ftÂ², Shower, 1 single bed and 1 double bed',
 'Room size: 28 mÂ²/301 ftÂ², Balcony/terrace, 2 bathrooms, Shower and bathtub, Executive lounge access, 1 queen bed or 1 sofa bed',
 'Shower',
 '3 bathrooms, Shower, Kitchenette, 5 bedrooms, 1 double bed or 1 double bed or 1 double bed or 2 single beds or 1 double bed',
 'Shower',
 'Room size: 20 mÂ²/215 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed and 1 sofa bed or 1 sofa bed and 2 single beds',
 'Room size: 20 mÂ²/215 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed and 1 sofa bed or 1 sofa bed and 2 single beds',
 'Room size: 20 mÂ²/215 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed and 1 sofa bed or 1 sofa bed and 2 single beds',
 'Room size: 20 mÂ²/215 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed and 1 sofa bed or 1 sofa bed and 2 single beds',
 'Room size: 20 mÂ²/215 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed and 1 sofa bed or 1 sofa bed and 2 single beds',
 'Room size: 20 mÂ²/215 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed and 1 sofa bed or 1 sofa bed and 2 single beds',
 'Room size: 20 mÂ²/215 ftÂ², City view, Non-smoking, Shower and bathtub, 1 double bed and 1 sofa bed or 1 sofa bed and 2 single beds',
 'Bathtub, 2 single beds',
 'Shower, 1 double bed',
 'Shower, 1 double bed and 2 sofa beds',
 'Shower, 1 queen bed',
 'Bathtub, 2 single beds',
 'Free breakfast for {0}, Free Wi-Fi, Extra low price! (non-refundable)',
 'Free breakfast for {0}, Free Wi-Fi, Extra low price! (non-refundable)',
 'Balcony/terrace, Shower and bathtub, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower and bathtub, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower and bathtub, 1 double bed',
 'Balcony/terrace, Shower and bathtub, 1 double bed',
 'Room size: 30 mÂ²/323 ftÂ², Balcony/terrace, Separate shower/bathtub, Kitchenette, 2 single beds',
 'Pay nothing until December 13, 2019, Free Wi-Fi, Free cancellation before December 15, 2019',
 'Pay nothing until December 13, 2019, Free Wi-Fi, Free cancellation before December 15, 2019',
 'Room size: 44 mÂ²/474 ftÂ², Balcony/terrace, Separate shower/bathtub, Kitchenette, 2 single beds or 2 sofa beds',
 'Pay nothing until December 13, 2019, Free Wi-Fi, Free cancellation before December 15, 2019',
 'Room size: 63 mÂ²/678 ftÂ², Balcony/terrace, Separate shower/bathtub, Kitchenette, 2 bedrooms, 2 double beds or 2 single beds or 2 sofa beds',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower, 1 single bed',
 'Shower, 1 double bed',
 'Room size: 15 mÂ²/161 ftÂ², Shower, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower, 1 single bed',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower, 1 single bed',
 'Room size: 12 mÂ²/129 ftÂ², Shower and bathtub, 2 single beds',
 'Room size: 30 mÂ²/323 ftÂ², Shower, 1 queen bed',
 'Room size: 19 mÂ²/205 ftÂ², Shower, 1 single bed',
 'Room size: 30 mÂ²/323 ftÂ², Shower, 1 single bed and 1 queen bed',
 nan,
 'Room size: 80 mÂ²/861 ftÂ², Balcony/terrace, Shower and bathtub, Kitchenette, 2 bedrooms, 2 single beds or 1 queen bed or 2 sofa beds',
 'Room size: 19 mÂ²/205 ftÂ², Shower, 1 double bed and 1 sofa bed',
 'Room size: 17 mÂ²/183 ftÂ², Balcony/terrace, 2 single beds',
 'Room size: 17 mÂ²/183 ftÂ², Shower, 1 double bed',
 'Room size: 25 mÂ²/269 ftÂ², Shower, 1 double bed or 1 sofa bed',
 'Room size: 19 mÂ²/205 ftÂ², Shower, 1 double bed',
 'Room size: 25 mÂ²/269 ftÂ², Shower and bathtub, 2 single beds',
 'Room size: 27 mÂ²/291 ftÂ², Balcony/terrace, Shower, 2 single beds',
 'Room size: 45 mÂ²/484 ftÂ², Balcony/terrace, Shower, 1 queen bed',
 'Room size: 120 mÂ²/1292 ftÂ², Balcony/terrace, Shower and bathtub, Kitchenette, 2 bedrooms, 2 single beds or 1 queen bed or 2 sofa beds',
 'Room size: 30 mÂ²/323 ftÂ², Shower, Kitchenette, 2 single beds and 1 double bed and 1 sofa bed',
 nan,
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 double bed',
 'Room size: 30 mÂ²/323 ftÂ², Shower, Kitchenette, 2 single beds and 1 double bed and 1 sofa bed',
 'Room size: 30 mÂ²/323 ftÂ², Shower, Kitchenette, 2 single beds and 1 double bed and 1 sofa bed',
 'Room size: 30 mÂ²/323 ftÂ², Shower, Kitchenette, 2 single beds and 1 double bed and 1 sofa bed',
 'Room size: 30 mÂ²/323 ftÂ², Shower, Kitchenette, 2 single beds and 1 double bed and 1 sofa bed',
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 king bed and 2 bunk beds or 2 bunk beds and 2 single beds',
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 king bed and 2 bunk beds or 2 bunk beds and 2 single beds',
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 king bed and 2 bunk beds or 2 bunk beds and 2 single beds',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 1 double bed',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 1 double bed',
 'Extra low price! (non-refundable)',
 'Extra low price! (non-refundable)',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 1 double bed',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 1 double bed',
 'Extra low price! (non-refundable)',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 1 double bed',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 1 double bed',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 1 double bed',
 'Extra low price! (non-refundable)',
 'Extra low price! (non-refundable)',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 2 single beds',
 'Extra low price! (non-refundable)',
 'Extra low price! (non-refundable)',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 2 single beds',
 'Free Breakfast, Pay nothing until November 26, 2019, Free Wi-Fi, Free cancellation before November 28, 2019',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 2 single beds',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 2 single beds',
 'Room size: 17 mÂ²/183 ftÂ², City view, Shower and bathtub, 2 single beds',
 'Extra low price! (non-refundable)',
 'Shower, 1 double bed',
 'Extra low price! (non-refundable)',
 'Extra low price! (non-refundable)',
 'Extra low price! (non-refundable)',
 'Extra low price! (non-refundable)',
 'Extra low price! (non-refundable)',
 'Extra low price! (non-refundable)',
 'Extra low price! (non-refundable)',
 'Shower, 1 single bed',
 'Shower, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², Shower and bathtub, 2 single beds',
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 double bed',
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 double bed',
 'Extra low price! (non-refundable)',
 'Room size: 12 mÂ²/129 ftÂ², Shower and bathtub, 2 single beds',
 'Room size: 14 mÂ²/151 ftÂ², Shower and bathtub, 1 double bed and 1 sofa bed',
 nan,
 nan,
 nan,
 'Free Breakfast, Free Wi-Fi, Extra low price! (non-refundable)',
 'Room size: 16 mÂ²/172 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 16 mÂ²/172 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 16 mÂ²/172 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 16 mÂ²/172 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 16 mÂ²/172 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 16 mÂ²/172 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 25 mÂ²/269 ftÂ², Shower, 2 single beds or 1 double bed',
 'Room size: 20 mÂ²/215 ftÂ², Shower and bathtub, 2 single beds',
 'Room size: 23 mÂ²/248 ftÂ², Shower and bathtub, 1 double bed',
 'Room size: 13 mÂ²/140 ftÂ², Non-smoking, Shower, 1 double bed',
 'Room size: 13 mÂ²/140 ftÂ², Non-smoking, Shower, 1 double bed',
 'Room size: 13 mÂ²/140 ftÂ², Non-smoking, Shower, 2 single beds',
 'Room size: 13 mÂ²/140 ftÂ², Non-smoking, Shower, 2 single beds',
 'Room size: 13 mÂ²/140 ftÂ², Non-smoking, Shower, 2 single beds',
 nan,
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 single bed',
 'Room size: 12 mÂ²/129 ftÂ², Shower, 1 single bed',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower and bathtub, 2 single beds',
 'Room size: 25 mÂ²/269 ftÂ², Shower, 2 single beds or 1 double bed',
 'Shower, 1 single bed',
 'Shower, 1 single bed',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower and bathtub, 1 double bed',
 'Room size: 14 mÂ²/151 ftÂ², Non-smoking, Shower and bathtub, 1 double bed',
 'Shower, 1 double bed or 2 single beds',
 'Shower, 1 double bed or 2 single beds',

In [17]:
#Extract Room size from ratedescription
import re
size_pattern = r'Room\s*size:\s*(\d+)\s*m[²²]?'

# Function to extract room size in square meters
def extract_size(description):
    if isinstance(description, str):
        size_match = re.search(size_pattern, description)
        if size_match:
            return int(size_match.group(1))
    return None

# Apply the function to extract room size for each description
df1['Roomsize'] = df1['ratedescription'].apply(extract_size)

In [18]:
df1["Roomsize"]

0         15.0
1          NaN
2          NaN
3         20.0
4         20.0
          ...
165868    17.0
165869    17.0
165870    17.0
165871     NaN
165872     NaN
Name: Roomsize, Length: 165873, dtype: float64

In [19]:
df1["Roomsize"].isnull().sum()

41103

In [20]:
df1.drop(columns=["ratedescription"],inplace=True)

In [21]:
df1["ratetype"]

0                                       Cancellation policy
1                                       Cancellation policy
2                         Extra low price! (non-refundable)
3                         Extra low price! (non-refundable)
4                         Extra low price! (non-refundable)
                                ...
165868    Free cancellation before November 25, 2019, Pa...
165869                    Extra low price! (non-refundable)
165870    Free cancellation before November 25, 2019, Pa...
165871           Free cancellation before November 23, 2019
165872           Free cancellation before November 23, 2019
Name: ratetype, Length: 165873, dtype: object

In [22]:
#Extract Free Cancellation And Pay at the hotel columns from rate Type
df1['Free cancellation'] = df1['ratetype'].str.contains('Free cancellation', case=False, na=False).astype(int)
df1['Pay at the hotel'] = df1['ratetype'].str.contains('Pay at the hotel', case=False, na=False).astype(int)

C:\Users\dell\AppData\Local\Temp\ipykernel_4528\2714347972.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['Free cancellation'] = df1['ratetype'].str.contains('Free cancellation', case=False, na=False).astype(int)
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\2714347972.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['Pay at the hotel'] = df1['ratetype'].str.contains('Pay at the hotel', case=False, na=False).astype(int)

In [23]:
df1["Pay at the hotel"].value_counts()

0    108738
1     57135
Name: Pay at the hotel, dtype: int64

In [24]:
df1['Free cancellation'].value_counts()

1    99674
0    66199
Name: Free cancellation, dtype: int64

In [25]:
df1.drop(columns=["ratetype"],inplace=True)

In [26]:
def standardize_room_type(room_type):
    room_type = room_type.strip()
    room_type = re.sub(r'\s+', ' ', room_type)  # Replace multiple spaces with a single space
    return room_type

df1['roomtype'] = df1['roomtype'].apply(standardize_room_type)

In [27]:
df1["roomtype"]

0                  Double Room
1                Vacation Home
2                Vacation Home
3         Standard Triple Room
4         Standard Triple Room
                  ...
165868               Twin Room
165869               Twin Room
165870               Twin Room
165871           Twin Standard
165872         Double Standard
Name: roomtype, Length: 165873, dtype: object

In [28]:
# Function to extract features
def extract_room_features(room_type):
    features = {
        'num_beds': 0,
        'Single': 0,
        'Double': 0,
        'Twin': 0,
        'Triple': 0,
        'Quadruple': 0,
        'Suite': 0,
        'Deluxe': 0,
        'Superior': 0,
        'Standard': 0,
        'Family': 0,
        'Sea_View': 0,
        'Balcony': 0,
        'Apartment': 0,
        'Studio': 0,
        'King': 0,
        'Queen': 0
    }

    # Extracting number of beds
    bed_match = re.search(r'(\d+)\s*(bed|beds)', room_type, re.IGNORECASE)
    if bed_match:
        features['num_beds'] = int(bed_match.group(1))

    # Extract specific terms
    if 'Single' in room_type:
        features['Single_Room'] = 1
    if 'Double' in room_type:
        features['Double_Room'] = 1
    if 'Twin' in room_type:
        features['Twin_Room'] = 1
    if 'Triple' in room_type:
        features['Triple_Room'] = 1
    if 'Quadruple' in room_type:
        features['Quadruple_Room'] = 1
    if 'Suite' in room_type:
        features['Suite_Room'] = 1
    if 'Deluxe' in room_type:
        features['Deluxe_Room'] = 1
    if 'Superior' in room_type:
        features['Superior_Room'] = 1
    if 'Standard' in room_type:
        features['Standard_Room'] = 1
    if 'Family' in room_type:
        features['Family_Room'] = 1
    if 'Sea View' in room_type:
        features['Sea_View'] = 1
    if 'Balcony' in room_type:
        features['Balcony'] = 1
    if 'Apartment' in room_type:
        features['Apartment'] = 1
    if 'Studio' in room_type:
        features['Studio_Room'] = 1
    if 'King' in room_type:
        features['King_Room'] = 1
    if 'Queen' in room_type:
        features['Queen_Room'] = 1

    return pd.Series(features)

features_df = df1['roomtype'].apply(extract_room_features)
df1 = pd.concat([df1, features_df], axis=1)

In [29]:
df1.drop(columns=["roomtype"])

,id,propertycode,dtcollected,reservation date,los,guests,onsiteprice,sourceurl,maxoccupancy,ispromo,...,Deluxe_Room,Single_Room,Twin_Room,Queen_Room,King_Room,Superior_Room,Suite_Room,Family_Room,Studio_Room,Quadruple_Room
0,50677497.0,634876.0,10/12/2019 15:46,11/2/2019,1.0,1.0,82.36,https://www.agoda.com/en-gb/the-old-cider-hous...,1.0,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50672149.0,8328096.0,10/12/2019 15:47,11/30/2019,1.0,1.0,636.09,https://www.agoda.com/en-gb/pantlleni/hotel/be...,4.0,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50643430.0,8323442.0,10/12/2019 15:47,12/20/2019,1.0,1.0,591.74,https://www.agoda.com/en-gb/willow-cottage/hot...,4.0,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50650317.0,7975.0,10/12/2019 15:47,12/28/2019,1.0,1.0,881.48,https://www.agoda.com/en-gb/apollo-hotel-londo...,1.0,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50650318.0,7975.0,10/12/2019 15:47,12/28/2019,1.0,1.0,897.53,https://www.agoda.com/en-gb/apollo-hotel-londo...,3.0,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165868,88527729.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,81.83,https://www.agoda.com/en-gb/sure-hotel-by-best...,2.0,N,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165869,88527730.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,89.80,https://www.agoda.com/en-gb/sure-hotel-by-best...,2.0,N,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165870,88527731.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,99.78,https://www.agoda.com/en-gb/sure-hotel-by-best...,2.0,N,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165871,88527215.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,70.13,https://www.agoda.com/en-gb/sure-hotel-by-best...,1.0,N,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165872,88528182.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,70.13,https://www.agoda.com/en-gb/sure-hotel-by-best...,1.0,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
def convert_booleans_to_integers(dfa):
    for col in dfa.select_dtypes(include='bool').columns:
        dfa[col] = dfa[col].astype(int)
    return dfa
convert_booleans_to_integers(df1)

,id,propertycode,dtcollected,reservation date,los,guests,roomtype,onsiteprice,sourceurl,maxoccupancy,...,Deluxe_Room,Single_Room,Twin_Room,Queen_Room,King_Room,Superior_Room,Suite_Room,Family_Room,Studio_Room,Quadruple_Room
0,50677497.0,634876.0,10/12/2019 15:46,11/2/2019,1.0,1.0,Double Room,82.36,https://www.agoda.com/en-gb/the-old-cider-hous...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50672149.0,8328096.0,10/12/2019 15:47,11/30/2019,1.0,1.0,Vacation Home,636.09,https://www.agoda.com/en-gb/pantlleni/hotel/be...,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50643430.0,8323442.0,10/12/2019 15:47,12/20/2019,1.0,1.0,Vacation Home,591.74,https://www.agoda.com/en-gb/willow-cottage/hot...,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50650317.0,7975.0,10/12/2019 15:47,12/28/2019,1.0,1.0,Standard Triple Room,881.48,https://www.agoda.com/en-gb/apollo-hotel-londo...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50650318.0,7975.0,10/12/2019 15:47,12/28/2019,1.0,1.0,Standard Triple Room,897.53,https://www.agoda.com/en-gb/apollo-hotel-londo...,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165868,88527729.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,Twin Room,81.83,https://www.agoda.com/en-gb/sure-hotel-by-best...,2.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165869,88527730.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,Twin Room,89.80,https://www.agoda.com/en-gb/sure-hotel-by-best...,2.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165870,88527731.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,Twin Room,99.78,https://www.agoda.com/en-gb/sure-hotel-by-best...,2.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165871,88527215.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,Twin Standard,70.13,https://www.agoda.com/en-gb/sure-hotel-by-best...,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165872,88528182.0,268416.0,10/13/2019 1:03,11/26/2019,1.0,1.0,Double Standard,70.13,https://www.agoda.com/en-gb/sure-hotel-by-best...,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df1.drop(columns=["sourceurl"],inplace=True)

In [32]:
#since ispromo is object and not bool we independtly convert it to discrete
df1["ispromo"]=df1["ispromo"].replace({"Y":1,"N":0})

In [33]:
df1["ispromo"]

0         1
1         0
2         0
3         0
4         0
         ..
165868    0
165869    0
165870    0
165871    0
165872    0
Name: ispromo, Length: 165873, dtype: int64

In [34]:
df1["closed"]=df1["closed"].replace({"Y":1,"N":0})

In [35]:
df1["closed"]

0         0
1         0
2         0
3         0
4         0
         ..
165868    0
165869    0
165870    0
165871    0
165872    0
Name: closed, Length: 165873, dtype: int64

In [36]:
df1["promoname"].unique()

array([nan, 'Limited time offer. Book Now!',
       'Limited time offer. Rate includes 20% discount!',
       'Early Booking Saver. Rate includes 30% discount!',
       'Early Booking Saver. Rate includes 10% discount!',
       'Early Booking Saver. Rate includes 20% discount!',
       'Limited time offer. Rate includes 15% discount!',
       'Early Booking Saver. Rate includes 49% discount!',
       'Early Booking Saver. Rate includes 15% discount!',
       'Limited time offer. Rate includes 5% discount!',
       'Limited time offer. Rate includes 10% discount!',
       'Limited time offer. Super Hot Deal',
       'Rate includes 12% discount!',
       'Early Booking Saver. Super Hot Deal',
       'Limited time offer. Rate includes 22% discount!',
       'Early Booking Saver. Rate includes 5% discount!',
       'Limited time offer. Rate includes 3% discount!',
       'Limited time offer. Rate includes 8% discount!', 'Super Saver',
       'Early Booking Saver. Rate includes 12% discount!',
       'Expiring soon. Book Now!',
       'Limited time offer. Rate includes 30% discount!',
       'Weekend Special. Rate includes 15% discount!',
       'Limited time offer. Rate includes 47% discount!',
       '72 hr limited sale Super Hot Deal',
       '72 hr limited sale Rate includes 20% discount!',
       'Limited time offer. Rate includes 12% discount!',
       'Last Minute Special.\n Super Hot Deal'], dtype=object)

In [37]:
#Extract Discount percentage from promoname and one hot encode common phrases into binary columns
import re
def extract_discount(description):
  description=str(description)
  match = re.search(r'(\d+)% discount', description)
  return int(match.group(1)) if match else 0

# Apply the function to each element in the 'promoname' column
df1['discount_percent'] = df1['promoname'].apply(extract_discount)

df1["discount_percent"]

C:\Users\dell\AppData\Local\Temp\ipykernel_4528\2005418252.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['discount_percent'] = df1['promoname'].apply(extract_discount)

0         0
1         0
2         0
3         0
4         0
         ..
165868    0
165869    0
165870    0
165871    0
165872    0
Name: discount_percent, Length: 165873, dtype: int64

In [38]:
# List of common phrases to encode
phrases = ['Early Booking Saver', 'Limited time offer', 'Super Hot Deal', 'Expiring soon', 'Book Now', '72 hr limited sale', 'Last Minute Special', 'Weekend Special', 'Super Saver']
df1['promoname'] = df1['promoname'].fillna('')
# Create binary columns for each phrase
for phrase in phrases:
    df1[phrase.replace(' ', '_').replace('.', '')] = df1['promoname'].str.contains(phrase).astype(int)

C:\Users\dell\AppData\Local\Temp\ipykernel_4528\1343118128.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[phrase.replace(' ', '_').replace('.', '')] = df1['promoname'].str.contains(phrase).astype(int)
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\1343118128.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[phrase.replace(' ', '_').replace('.', '')] = df1['promoname'].str.contains(phrase).astype(int)
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\1343118128.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[phrase.replace(' ', '_').replace('.', '')] = df1['promoname'].str.contains(phrase).astype(int)
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\1343118128.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[phrase.replace(' ', '_').replace('.', '')] = df1['promoname'].str.contains(phrase).astype(int)
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\1343118128.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[phrase.replace(' ', '_').replace('.', '')] = df1['promoname'].str.contains(phrase).astype(int)
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\1343118128.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[phrase.replace(' ', '_').replace('.', '')] = df1['promoname'].str.contains(phrase).astype(int)
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\1343118128.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[phrase.replace(' ', '_').replace('.', '')] = df1['promoname'].str.contains(phrase).astype(int)
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\1343118128.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[phrase.replace(' ', '_').replace('.', '')] = df1['promoname'].str.contains(phrase).astype(int)
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\1343118128.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1[phrase.replace(' ', '_').replace('.', '')] = df1['promoname'].str.contains(phrase).astype(int)

In [39]:
df1.drop(columns=["promoname"],inplace=True)

In [40]:
df1["proxyused"].value_counts()

media:M3diAproxy@179.61.173.132:80    3477
media:M3d!a@191.101.110.209:12345     3402
media:M3diAproxy@191.96.243.240:80    3178
media:M3diAproxy@173.44.165.244:80    3121
media:M3diAproxy@173.44.166.249:80    3045
                                      ...
media:M3diAproxy@23.106.216.155:80       1
media:M3diAproxy@23.108.233.224:80       1
media:M3diAproxy@196.247.16.147:80       1
media:M3diAproxy@196.247.16.103:80       1
media:M3diAproxy@23.108.233.36:80        1
Name: proxyused, Length: 407, dtype: int64

In [41]:
df1.drop(columns=["proxyused"],inplace=True)

In [42]:
df1["mealinclusiontype"]

0                 Free Breakfast
1                            NaN
2                            NaN
3                            NaN
4         Free breakfast for {3}
                   ...
165868                       NaN
165869    Free breakfast for {2}
165870    Free breakfast for {2}
165871                       NaN
165872                       NaN
Name: mealinclusiontype, Length: 165873, dtype: object

In [43]:
import re
# Function to standardize text
def standardize_text(text):
    if isinstance(text, str):
        text = text.replace('Free breakfast for {', 'Free breakfast for ')
        text = text.replace('}', '')
    return text
df1['mealinclusiontype'] = df1['mealinclusiontype'].fillna('').apply(standardize_text)

def extract_features(text):
    features = {
        'num_people': 0,  # Default value if text is empty or no number is found
        'Free_Breakfast': 0,
        'Dinner': 0,
        'Lunch': 0,
        'Free_WiFi': 0,
        'Parking': 0,
        'All_Inclusive': 0,
        'Free_sauna_access': 0,
        'Free_Fitness_Center_Access': 0,
        'Beverages': 0
    }

    # Extract the number of people if the text is not empty
    if text:
        # Use case-insensitive search for number of people
        match = re.search(r'free breakfast for (\d+)', text, re.IGNORECASE)
        if match:
            num_people = int(match.group(1))
            features['num_people'] = num_people
            features['Free_Breakfast'] = num_people
        elif re.search(r'free breakfast', text, re.IGNORECASE):
            features['Free_Breakfast'] = 1

        # Use lowercase for other feature checks
        lower_text = text.lower()
        features['Dinner'] = 1 if 'dinner' in lower_text else 0
        features['Lunch'] = 1 if 'lunch' in lower_text else 0
        features['Free_WiFi'] = 1 if 'free wifi' in lower_text else 0
        features['Parking'] = 1 if 'parking' in lower_text else 0
        features['All_Inclusive'] = 1 if 'all inclusive' in lower_text else 0
        features['Free_sauna_access'] = 1 if 'free sauna access' in lower_text else 0
        features['Free_Fitness_Center_Access'] = 1 if 'free fitness center access' in lower_text else 0
        features['Beverages'] = 1 if 'beverages' in lower_text else 0

    return pd.Series(features)

# Apply feature extraction
features_df = df1['mealinclusiontype'].apply(extract_features)
df1 = pd.concat([df1, features_df], axis=1)

In [44]:
df1["num_people"]

0         0
1         0
2         0
3         0
4         3
         ..
165868    0
165869    2
165870    2
165871    0
165872    0
Name: num_people, Length: 165873, dtype: int64

In [45]:
df1["Free_Breakfast"].value_counts()

0     68929
1     52815
2     34949
3      6037
4      2654
5       310
6       132
8        19
7        14
10        2
11        2
12        2
13        2
14        2
15        2
9         1
20        1
Name: Free_Breakfast, dtype: int64

In [46]:
df1.drop(columns=["mealinclusiontype"],inplace=True)

Generating Features from dates

In [47]:
#There are three coulmns containing date.dtcollected,reservation date and input dtcollected

In [48]:
df1["dtcollected"]=pd.to_datetime(df1["dtcollected"], infer_datetime_format=True)

In [49]:
df1["reservation date"]=pd.to_datetime(df1["reservation date"], infer_datetime_format=True)

In [50]:
df1["input_dtcollected"]=pd.to_datetime(df1["reservation date"], infer_datetime_format=True)

In [51]:
df1['dtmonth'] = df1['dtcollected'].dt.month
df1['dtyear'] = df1['dtcollected'].dt.year
df1['dtday'] = df1['dtcollected'].dt.day
df1['reservation_month'] = df1['reservation date'].dt.month
df1['reservation_year'] = df1['reservation date'].dt.year
df1['reservation_day'] = df1['reservation date'].dt.day
df1['input_dtmonth'] = df1['input_dtcollected'].dt.month
df1['input_dtyear'] = df1['input_dtcollected'].dt.year
df1['input_dtday'] = df1['input_dtcollected'].dt.day

C:\Users\dell\AppData\Local\Temp\ipykernel_4528\468737839.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['dtmonth'] = df1['dtcollected'].dt.month
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\468737839.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['dtyear'] = df1['dtcollected'].dt.year
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\468737839.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['dtday'] = df1['dtcollected'].dt.day
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\468737839.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['reservation_month'] = df1['reservation date'].dt.month
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\468737839.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['reservation_year'] = df1['reservation date'].dt.year
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\468737839.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['reservation_day'] = df1['reservation date'].dt.day
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\468737839.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['input_dtmonth'] = df1['input_dtcollected'].dt.month
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\468737839.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['input_dtyear'] = df1['input_dtcollected'].dt.year
C:\Users\dell\AppData\Local\Temp\ipykernel_4528\468737839.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df1['input_dtday'] = df1['input_dtcollected'].dt.day

In [52]:
df1.drop(columns=["dtcollected","reservation date","input_dtcollected"],inplace=True)

In [53]:
categorical_columns = df1.select_dtypes(include='object').columns.tolist()
categorical_columns

['roomtype', 'hotelblock']

**FEATURES SELECTION**

Identify and drop single-Value columns as they have zero variance and do not contribute to the predictive power of a model

In [54]:
single_value_columns = [col for col in df1.columns if df1[col].nunique() == 1]
single_value_columns

['los',
 'guests',
 'hotelblock',
 'Single',
 'Double',
 'Twin',
 'Triple',
 'Quadruple',
 'Suite',
 'Deluxe',
 'Superior',
 'Standard',
 'Family',
 'Studio',
 'King',
 'Queen',
 'Double_Room',
 'Triple_Room',
 'Standard_Room',
 'Deluxe_Room',
 'Single_Room',
 'Twin_Room',
 'Queen_Room',
 'King_Room',
 'Superior_Room',
 'Suite_Room',
 'Family_Room',
 'Studio_Room',
 'Quadruple_Room',
 'dtmonth',
 'dtyear']

In [55]:
df1.drop(columns=single_value_columns,inplace=True)

In [56]:
def select_bincolumns(dataframe):
  binary_cols=[]
  for column in dataframe.columns:
    if df1[column].nunique()==2:
      binary_cols.append(column)
  return binary_cols
bin_cols=select_bincolumns(df1)
bin_cols

['ispromo',
 'closed',
 'Separate living room:',
 'Hot tub:',
 'Sewing kit:',
 'Alarm clock:',
 'Scale:',
 'Electric blanket:',
 'Locker:',
 'Kitchenware:',
 'Desk:',
 'Seating area:',
 'Dressing room:',
 'Sofa:',
 'Slippers:',
 'Open air bath privileges:',
 'Towels:',
 'Humidifier:',
 'Laptop workspace:',
 'Air conditioning:',
 'Toiletries:',
 'Heating:',
 'Umbrella:',
 'Video game console:',
 'Washing machine:',
 'Vending machine:',
 'Wi-Fi [charges apply]:',
 'Full kitchen:',
 'Telephone:',
 'Microwave:',
 'Dart board:',
 'Wi-Fi [free]:',
 'Free instant coffee:',
 'Interconnecting room(s) available:',
 'Internet access ï¿?LAN:',
 'Linens:',
 'iPod docking station:',
 'Laptop safe box:',
 'Kitchen:',
 'Coffee/tea maker:',
 'Blackout curtains:',
 'Refrigerator:',
 'Ironing facilities:',
 'Additional toilet:',
 'Shower:',
 'Fire extinguisher:',
 'Fireplace:',
 'Daily housekeeping:',
 'Carpeting:',
 'Fan:',
 'Complimentary tea:',
 'TV:',
 'Mirror:',
 'Mosquito net:',
 'High floor:',
 'Air purifier:',
 'DVD/CD player:',
 'Mini bar:',
 'Wooden/parqueted flooring:',
 'Pets allowed in room:',
 'On-demand movies:',
 'High chair:',
 'Clothes dryer:',
 'Additional bathroom:',
 'Clothes rack:',
 'Trouser press:',
 'Private entrance:',
 'Soundproofing:',
 'Free Wi-Fi in all rooms!:',
 'Closet:',
 'Hair dryer:',
 'Wi-Fi in public areas:',
 'Free bottled water:',
 'Shoeshine kit:',
 'Separate dining area:',
 'Satellite/cable channels:',
 'Internet access ï¿?wireless:',
 'Carbon monoxide detector:',
 'Smoke detector:',
 'Extra long bed:',
 'Wake-up service:',
 'First aid kit:',
 'Bathroom phone:',
 'In-room tablet:',
 'Free welcome drink:',
 'Bathrobes:',
 'Dishwasher:',
 'Whirlpool bathtub:',
 'Daily newspaper:',
 'TV [flat screen]:',
 'TV [in bathroom]:',
 'Cleaning products:',
 'In-room safe box:',
 'Free cancellation',
 'Pay at the hotel',
 'Sea_View',
 'Balcony',
 'Apartment',
 'Early_Booking_Saver',
 'Limited_time_offer',
 'Super_Hot_Deal',
 'Expiring_soon',
 'Book_Now',
 '72_hr_limited_sale',
 'Last_Minute_Special',
 'Weekend_Special',
 'Super_Saver',
 'Dinner',
 'Lunch',
 'Free_WiFi',
 'Parking',
 'All_Inclusive',
 'Free_sauna_access',
 'Free_Fitness_Center_Access',
 'Beverages',
 'dtday',
 'reservation_year',
 'input_dtyear']

In [57]:
def select_multicatcol(dataframe,threshold):
  multi_cols=[]

  for column in dataframe.columns:
    unique_values = dataframe[column].nunique()
    total_values = len(dataframe[column])
    unique_ratio = unique_values / total_values
    if unique_ratio<threshold and unique_values>2:
      multi_cols.append(column)

  return multi_cols
multi_columns=select_multicatcol(df1,0.05)
multi_columns

['maxoccupancy',
 'discount',
 'Roomsize',
 'num_beds',
 'discount_percent',
 'num_people',
 'Free_Breakfast',
 'reservation_month',
 'reservation_day',
 'input_dtmonth',
 'input_dtday']

In [58]:
numerical_columns = df1.select_dtypes(include=['number']).columns.tolist()
numerical_columns

numerical_columns_excluding_binary_multiclass = [
    col for col in numerical_columns if col not in bin_cols and col not in multi_columns
]

In [59]:
numerical_columns_excluding_binary_multiclass

['id', 'propertycode', 'onsiteprice']

In [60]:
import scipy.stats as stats
def pearson_corr(a,b):
   corr, p_value = stats.pearsonr(a, b)
   return corr, p_value

In [61]:
# Interpret the results
dropped_num_cols=[]
alpha = 0.05
for column in numerical_columns_excluding_binary_multiclass:
  corr,p_value=pearson_corr(df1[column],df1["onsiteprice"])

  if p_value < alpha:
      print("There is a significant correlation between variable1 and variable2.")
  else:
      print("There is no significant correlation between variable1 and variable2.")
      dropped_num_cols.append(column)
dropped_num_cols

There is no significant correlation between variable1 and variable2.
There is a significant correlation between variable1 and variable2.
There is a significant correlation between variable1 and variable2.

['id']

In [62]:
#Drop id column
df1.drop(columns=["id"],inplace=True)

If features are binary variable and target is continous then t-test is applied to determine if there is a relationship between the two variables

In [63]:
def select_bincolumns(dataframe):
  binary_cols=[]
  for column in dataframe.columns:
    if df1[column].nunique()==2:
      binary_cols.append(column)
  return binary_cols
bin_cols=select_bincolumns(df1)
bin_cols

['ispromo',
 'closed',
 'Separate living room:',
 'Hot tub:',
 'Sewing kit:',
 'Alarm clock:',
 'Scale:',
 'Electric blanket:',
 'Locker:',
 'Kitchenware:',
 'Desk:',
 'Seating area:',
 'Dressing room:',
 'Sofa:',
 'Slippers:',
 'Open air bath privileges:',
 'Towels:',
 'Humidifier:',
 'Laptop workspace:',
 'Air conditioning:',
 'Toiletries:',
 'Heating:',
 'Umbrella:',
 'Video game console:',
 'Washing machine:',
 'Vending machine:',
 'Wi-Fi [charges apply]:',
 'Full kitchen:',
 'Telephone:',
 'Microwave:',
 'Dart board:',
 'Wi-Fi [free]:',
 'Free instant coffee:',
 'Interconnecting room(s) available:',
 'Internet access ï¿?LAN:',
 'Linens:',
 'iPod docking station:',
 'Laptop safe box:',
 'Kitchen:',
 'Coffee/tea maker:',
 'Blackout curtains:',
 'Refrigerator:',
 'Ironing facilities:',
 'Additional toilet:',
 'Shower:',
 'Fire extinguisher:',
 'Fireplace:',
 'Daily housekeeping:',
 'Carpeting:',
 'Fan:',
 'Complimentary tea:',
 'TV:',
 'Mirror:',
 'Mosquito net:',
 'High floor:',
 'Air purifier:',
 'DVD/CD player:',
 'Mini bar:',
 'Wooden/parqueted flooring:',
 'Pets allowed in room:',
 'On-demand movies:',
 'High chair:',
 'Clothes dryer:',
 'Additional bathroom:',
 'Clothes rack:',
 'Trouser press:',
 'Private entrance:',
 'Soundproofing:',
 'Free Wi-Fi in all rooms!:',
 'Closet:',
 'Hair dryer:',
 'Wi-Fi in public areas:',
 'Free bottled water:',
 'Shoeshine kit:',
 'Separate dining area:',
 'Satellite/cable channels:',
 'Internet access ï¿?wireless:',
 'Carbon monoxide detector:',
 'Smoke detector:',
 'Extra long bed:',
 'Wake-up service:',
 'First aid kit:',
 'Bathroom phone:',
 'In-room tablet:',
 'Free welcome drink:',
 'Bathrobes:',
 'Dishwasher:',
 'Whirlpool bathtub:',
 'Daily newspaper:',
 'TV [flat screen]:',
 'TV [in bathroom]:',
 'Cleaning products:',
 'In-room safe box:',
 'Free cancellation',
 'Pay at the hotel',
 'Sea_View',
 'Balcony',
 'Apartment',
 'Early_Booking_Saver',
 'Limited_time_offer',
 'Super_Hot_Deal',
 'Expiring_soon',
 'Book_Now',
 '72_hr_limited_sale',
 'Last_Minute_Special',
 'Weekend_Special',
 'Super_Saver',
 'Dinner',
 'Lunch',
 'Free_WiFi',
 'Parking',
 'All_Inclusive',
 'Free_sauna_access',
 'Free_Fitness_Center_Access',
 'Beverages',
 'dtday',
 'reservation_year',
 'input_dtyear']

In [64]:
from scipy.stats import ttest_ind
def perform_t_test(group1, group2, alpha=0.05):
    t_stat, p_value = ttest_ind(group1, group2)
    return t_stat, p_value

In [65]:
alpha=0.05
t_test_results={}
dropped_columns=[]
for column in bin_cols:
  group1=df1[df1[column]==0]["onsiteprice"]
  group2=df1[df1[column]==1]["onsiteprice"]
  t_stat, p_value=perform_t_test(group1, group2)
  t_test_results[column] = {'t_statistic': t_stat, 'p_value': p_value}
  if p_value >= alpha:
    result = "Reject H0: There is a significant difference between means.Drop Feature"
    dropped_columns.append(column)
  else:
    result = "Fail to reject H0: No significant difference between means.Select Feature"

# Display results
for col, result in t_test_results.items():
    print(f"Column: {col}, T-statistic: {result['t_statistic']}, P-value: {result['p_value']}")
    print()

Column: ispromo, T-statistic: -4.357141697268935, P-value: 1.3185096640300932e-05

Column: closed, T-statistic: 51.23527962219749, P-value: 0.0

Column: Separate living room:, T-statistic: -18.033612745053496, P-value: 1.2456111596889413e-72

Column: Hot tub:, T-statistic: -1.1931374988586458, P-value: 0.23281723420261574

Column: Sewing kit:, T-statistic: -8.850091445904622, P-value: 8.828037410328518e-19

Column: Alarm clock:, T-statistic: -11.620378530083412, P-value: 3.338718553847462e-31

Column: Scale:, T-statistic: -1.455628069848262, P-value: 0.1454973566086985

Column: Electric blanket:, T-statistic: 0.8322538095787988, P-value: 0.40526689498780477

Column: Locker:, T-statistic: -9.761403560315104, P-value: 1.6717595518770712e-22

Column: Kitchenware:, T-statistic: -5.156736911333392, P-value: 2.515782930931622e-07

Column: Desk:, T-statistic: -4.056728625109085, P-value: 4.9787584043047285e-05

Column: Seating area:, T-statistic: -31.688514403662705, P-value: 1.0192849392605709e-219

Column: Dressing room:, T-statistic: -2.0184979797983393, P-value: 0.04354103050772583

Column: Sofa:, T-statistic: -39.095653465996115, P-value: 0.0

Column: Slippers:, T-statistic: -50.21368040162154, P-value: 0.0

Column: Open air bath privileges:, T-statistic: -0.15546926967910366, P-value: 0.8764515677724092

Column: Towels:, T-statistic: -5.428778340314414, P-value: 5.6820402210268945e-08

Column: Humidifier:, T-statistic: -0.9356991490874238, P-value: 0.3494294710914838

Column: Laptop workspace:, T-statistic: 0.35076011787412426, P-value: 0.725768765236097

Column: Air conditioning:, T-statistic: -51.23527962219749, P-value: 0.0

Column: Toiletries:, T-statistic: -2.791266644475167, P-value: 0.005250820047672497

Column: Heating:, T-statistic: 3.180286398855038, P-value: 0.0014715661427753077

Column: Umbrella:, T-statistic: -23.41422820816302, P-value: 4.818424144909647e-121

Column: Video game console:, T-statistic: -12.164623739894154, P-value: 4.959553999927163e-34

Column: Washing machine:, T-statistic: -23.600593716895233, P-value: 6.069767099457631e-123

Column: Vending machine:, T-statistic: 2.2258848306943966, P-value: 0.026023235122095457

Column: Wi-Fi [charges apply]:, T-statistic: 3.103104110325901, P-value: 0.0019153443018308204

Column: Full kitchen:, T-statistic: -28.127347926229902, P-value: 1.1645573287759857e-173

Column: Telephone:, T-statistic: -16.944699111552634, P-value: 2.386445666509096e-64

Column: Microwave:, T-statistic: -17.50256011438291, P-value: 1.5790016420281678e-68

Column: Dart board:, T-statistic: -10.132605925286413, P-value: 4.0241606101065856e-24

Column: Wi-Fi [free]:, T-statistic: 2.9410664515560505, P-value: 0.0032712952789404966

Column: Free instant coffee:, T-statistic: -10.103546708610684, P-value: 5.413928853626724e-24

Column: Interconnecting room(s) available:, T-statistic: -3.9991253029120597, P-value: 6.360453085046947e-05

Column: Internet access ï¿?LAN:, T-statistic: 0.8529148229944514, P-value: 0.393707772507524

Column: Linens:, T-statistic: -1.0650907258608122, P-value: 0.28683642605522797

Column: iPod docking station:, T-statistic: -21.090530167305165, P-value: 1.3103185470289913e-98

Column: Laptop safe box:, T-statistic: -27.233952497184053, P-value: 5.897699891560704e-163

Column: Kitchen:, T-statistic: 0.673979939044958, P-value: 0.5003250069761535

Column: Coffee/tea maker:, T-statistic: -22.911542286009894, P-value: 5.404250038019452e-116

Column: Blackout curtains:, T-statistic: -17.074960294452623, P-value: 2.5933105741160794e-65

Column: Refrigerator:, T-statistic: -16.050295774397274, P-value: 6.291938180997637e-58

Column: Ironing facilities:, T-statistic: -15.829250999997663, P-value: 2.150828174390014e-56

Column: Additional toilet:, T-statistic: -5.649919358691616, P-value: 1.6078509013291913e-08

Column: Shower:, T-statistic: -23.571908654648475, P-value: 1.1927415063337161e-122

Column: Fire extinguisher:, T-statistic: -5.587687204329404, P-value: 2.3047335500318912e-08

Column: Fireplace:, T-statistic: -20.49865593996003, P-value: 2.8903583448808524e-93

Column: Daily housekeeping:, T-statistic: -10.73618986381146, P-value: 7.024232949956557e-27

Column: Carpeting:, T-statistic: 2.223546525023587, P-value: 0.02618031147175093

Column: Fan:, T-statistic: 8.93994798899743, P-value: 3.9321309327665743e-19

Column: Complimentary tea:, T-statistic: -10.619316818970145, P-value: 2.4709908124648388e-26

Column: TV:, T-statistic: -24.942692527907678, P-value: 4.595205123283448e-137

Column: Mirror:, T-statistic: -45.71026939998308, P-value: 0.0

Column: Mosquito net:, T-statistic: 8.421138236499553, P-value: 3.7575979116820014e-17

Column: High floor:, T-statistic: -6.727974957145117, P-value: 1.7259586780153993e-11

Column: Air purifier:, T-statistic: -0.2738053612194569, P-value: 0.7842345442909547

Column: DVD/CD player:, T-statistic: -15.000700501021432, P-value: 7.845746037144114e-51

Column: Mini bar:, T-statistic: -37.03622023403982, P-value: 5.043525040685463e-299

Column: Wooden/parqueted flooring:, T-statistic: -1.2029650387781463, P-value: 0.22899156697970388

Column: Pets allowed in room:, T-statistic: -0.9347768721206796, P-value: 0.34990466177391477

Column: On-demand movies:, T-statistic: -19.24199771180675, P-value: 2.027078432472224e-82

Column: High chair:, T-statistic: -6.107130882743991, P-value: 1.0166222338304101e-09

Column: Clothes dryer:, T-statistic: -2.487273608728805, P-value: 0.012873610387871732

Column: Additional bathroom:, T-statistic: -23.26638097675578, P-value: 1.511451358109552e-119

Column: Clothes rack:, T-statistic: 4.29375719443914, P-value: 1.7577419027158245e-05

Column: Trouser press:, T-statistic: -6.550526784545316, P-value: 5.7501135709796334e-11

Column: Private entrance:, T-statistic: -0.751082021730612, P-value: 0.4526043602803479

Column: Soundproofing:, T-statistic: -14.142037348134211, P-value: 2.2225954687589237e-45

Column: Free Wi-Fi in all rooms!:, T-statistic: -24.199412059575348, P-value: 3.786004018080316e-129

Column: Closet:, T-statistic: -8.319471738669595, P-value: 8.901475028160143e-17

Column: Hair dryer:, T-statistic: -8.123118218801011, P-value: 4.574373687274194e-16

Column: Wi-Fi in public areas:, T-statistic: 8.282602735748444, P-value: 1.2139445225023466e-16

Column: Free bottled water:, T-statistic: -23.55284573683274, P-value: 1.867736307145688e-122

Column: Shoeshine kit:, T-statistic: -5.296740081373087, P-value: 1.1803807506729957e-07

Column: Separate dining area:, T-statistic: -24.321086164921216, P-value: 1.988754189693628e-130

Column: Satellite/cable channels:, T-statistic: -14.332631420121649, P-value: 1.4590412624834468e-46

Column: Internet access ï¿?wireless:, T-statistic: 4.810099364283938, P-value: 1.50987399121336e-06

Column: Carbon monoxide detector:, T-statistic: -9.310461236844274, P-value: 1.2876104073652389e-20

Column: Smoke detector:, T-statistic: -5.305989744175101, P-value: 1.1220658796173769e-07

Column: Extra long bed:, T-statistic: -6.182046450301813, P-value: 6.342255343470333e-10

Column: Wake-up service:, T-statistic: -4.265332464302008, P-value: 1.9971508504538928e-05

Column: First aid kit:, T-statistic: -0.7387975868139761, P-value: 0.46003096276434996

Column: Bathroom phone:, T-statistic: -4.665715472542727, P-value: 3.0778459961964e-06

Column: In-room tablet:, T-statistic: -5.548764840329672, P-value: 2.8813250832630583e-08

Column: Free welcome drink:, T-statistic: -6.991690585710347, P-value: 2.726129080936061e-12

Column: Bathrobes:, T-statistic: -53.135778676379736, P-value: 0.0

Column: Dishwasher:, T-statistic: -26.971217648576754, P-value: 7.140838581589529e-160

Column: Whirlpool bathtub:, T-statistic: -17.543181289645453, P-value: 7.741492030415994e-69

Column: Daily newspaper:, T-statistic: -18.87442927324754, P-value: 2.243126913652049e-79

Column: TV [flat screen]:, T-statistic: 21.59908700406658, P-value: 2.5452465453417983e-103

Column: TV [in bathroom]:, T-statistic: 0.5111832591170931, P-value: 0.6092234203473847

Column: Cleaning products:, T-statistic: 2.143596673452353, P-value: 0.032066667207130604

Column: In-room safe box:, T-statistic: -51.23527962219749, P-value: 0.0

Column: Free cancellation, T-statistic: -13.141032370070748, P-value: 2.005003521599066e-39

Column: Pay at the hotel, T-statistic: 2.521095595232439, P-value: 0.011699935783440732

Column: Sea_View, T-statistic: -3.38124861002981, P-value: 0.0007217386607932839

Column: Balcony, T-statistic: 0.13639297625185126, P-value: 0.8915107914567129

Column: Apartment, T-statistic: -1.2575455972627159, P-value: 0.20855790927597348

Column: Early_Booking_Saver, T-statistic: -3.1995785227814, P-value: 0.0013765456627353823

Column: Limited_time_offer, T-statistic: -4.5114601603696025, P-value: 6.442696787142347e-06

Column: Super_Hot_Deal, T-statistic: 1.45430176249726, P-value: 0.14586455419056402

Column: Expiring_soon, T-statistic: -1.0754521736522649, P-value: 0.2821738979966118

Column: Book_Now, T-statistic: -0.25372443190069355, P-value: 0.7997087721162248

Column: 72_hr_limited_sale, T-statistic: 1.1625257679879328, P-value: 0.24502363657114967

Column: Last_Minute_Special, T-statistic: 0.2769474389082341, P-value: 0.7818208107770943

Column: Weekend_Special, T-statistic: 0.8356166903175011, P-value: 0.4033717798449964

Column: Super_Saver, T-statistic: -46.47496398261437, P-value: 0.0

Column: Dinner, T-statistic: -19.103566151198194, P-value: 2.884712112499897e-81

Column: Lunch, T-statistic: -9.076285242996327, P-value: 1.1352629693734065e-19

Column: Free_WiFi, T-statistic: -2.3302531493504834, P-value: 0.019793968274752147

Column: Parking, T-statistic: -2.0035321747646035, P-value: 0.045121821139381804

Column: All_Inclusive, T-statistic: -6.533169699102038, P-value: 6.457735552385245e-11

Column: Free_sauna_access, T-statistic: 0.121283725541045, P-value: 0.9034664569049642

Column: Free_Fitness_Center_Access, T-statistic: 0.121283725541045, P-value: 0.9034664569049642

Column: Beverages, T-statistic: -8.925001619127475, P-value: 4.500814177366267e-19

Column: dtday, T-statistic: nan, P-value: nan

Column: reservation_year, T-statistic: nan, P-value: nan

Column: input_dtyear, T-statistic: nan, P-value: nan

In [66]:
dropped_columns

['Hot tub:',
 'Scale:',
 'Electric blanket:',
 'Open air bath privileges:',
 'Humidifier:',
 'Laptop workspace:',
 'Internet access ï¿?LAN:',
 'Linens:',
 'Kitchen:',
 'Air purifier:',
 'Wooden/parqueted flooring:',
 'Pets allowed in room:',
 'Private entrance:',
 'First aid kit:',
 'TV [in bathroom]:',
 'Balcony',
 'Apartment',
 'Super_Hot_Deal',
 'Expiring_soon',
 'Book_Now',
 '72_hr_limited_sale',
 'Last_Minute_Special',
 'Weekend_Special',
 'Free_sauna_access',
 'Free_Fitness_Center_Access']

In [67]:
#dropping these columns
df1.drop(columns=dropped_columns,inplace=True)

**If the target variable is continous and features are mulit-class categorical we use ANOVA Test to find wether or not there is a relationship**

In [68]:
def select_multicatcol(dataframe,threshold):
  multi_cols=[]

  for column in dataframe.columns:
    unique_values = dataframe[column].nunique()
    total_values = len(dataframe[column])
    unique_ratio = unique_values / total_values
    if unique_ratio<threshold and unique_values>2:
      multi_cols.append(column)

  return multi_cols
multi_columns=select_multicatcol(df1,0.05)
multi_columns

['maxoccupancy',
 'discount',
 'Roomsize',
 'num_beds',
 'discount_percent',
 'num_people',
 'Free_Breakfast',
 'reservation_month',
 'reservation_day',
 'input_dtmonth',
 'input_dtday']

In [69]:
import pandas as pd
from scipy.stats import f_oneway

# Function to perform ANOVA
def perform_anova(dataframe, categorical_column, continuous_column, alpha=0.05):
    dataframe[categorical_column] = dataframe[categorical_column].astype('category')
    groups = [dataframe[dataframe[categorical_column] == category][continuous_column] for category in dataframe[categorical_column].cat.categories]
    f_statistic, p_value = f_oneway(*groups)
    # Decision rule
    if p_value < alpha:
        decision = "Keep Feature"
    else:
        decision = "Drop Feature"

    return {
        'F-statistic': f_statistic,
        'p-value': p_value,
        'decision': decision
    }

# Example DataFrame and variables
alpha = 0.05
anova_results = {}
continuous_column = "onsiteprice"  # Replace with your actual continuous target column name
columns_to_drop = []

# Loop through each multi-class categorical column
for column in multi_columns:  # Replace with your actual list of multi-class columns
    results = perform_anova(df1, column, continuous_column)
    anova_results[column] = results

    print(f"Column: {column}, F-statistic: {results['F-statistic']}, P-value: {results['p-value']}")
    print(f"Decision: {results['decision']}")
    print()
    # Append column to drop list if decision is to drop feature
    if results['decision'] == "Drop Feature":
        columns_to_drop.append(column)

# Display all ANOVA results
print("Columns to drop:", columns_to_drop)
for col, result in anova_results.items():
    print(f"Column: {col}, F-statistic: {result['F-statistic']}, P-value: {result['p-value']}")
    print()

Column: maxoccupancy, F-statistic: 141.9261931787356, P-value: 0.0
Decision: Keep Feature

Column: discount, F-statistic: 0.3814442721960181, P-value: 0.9999999999999999
Decision: Drop Feature

Column: Roomsize, F-statistic: 132.59492652081093, P-value: 0.0
Decision: Keep Feature

Column: num_beds, F-statistic: 0.682634331464472, P-value: 0.686979712925283
Decision: Drop Feature

Column: discount_percent, F-statistic: 5.60197324827523, P-value: 4.6464746039752e-09
Decision: Keep Feature

Column: num_people, F-statistic: 84.07697651149341, P-value: 1.3708943869133051e-275
Decision: Keep Feature

Column: Free_Breakfast, F-statistic: 103.95894593737547, P-value: 0.0
Decision: Keep Feature

Column: reservation_month, F-statistic: 19.076569751676143, P-value: 2.3064644783996267e-12
Decision: Keep Feature

Column: reservation_day, F-statistic: 15.566264026297729, P-value: 9.183263543017487e-80
Decision: Keep Feature

Column: input_dtmonth, F-statistic: 19.076569751676143, P-value: 2.3064644783996267e-12
Decision: Keep Feature

Column: input_dtday, F-statistic: 15.566264026297729, P-value: 9.183263543017487e-80
Decision: Keep Feature

Columns to drop: ['discount', 'num_beds']
Column: maxoccupancy, F-statistic: 141.9261931787356, P-value: 0.0

Column: discount, F-statistic: 0.3814442721960181, P-value: 0.9999999999999999

Column: Roomsize, F-statistic: 132.59492652081093, P-value: 0.0

Column: num_beds, F-statistic: 0.682634331464472, P-value: 0.686979712925283

Column: discount_percent, F-statistic: 5.60197324827523, P-value: 4.6464746039752e-09

Column: num_people, F-statistic: 84.07697651149341, P-value: 1.3708943869133051e-275

Column: Free_Breakfast, F-statistic: 103.95894593737547, P-value: 0.0

Column: reservation_month, F-statistic: 19.076569751676143, P-value: 2.3064644783996267e-12

Column: reservation_day, F-statistic: 15.566264026297729, P-value: 9.183263543017487e-80

Column: input_dtmonth, F-statistic: 19.076569751676143, P-value: 2.3064644783996267e-12

Column: input_dtday, F-statistic: 15.566264026297729, P-value: 9.183263543017487e-80

In [70]:
columns_to_drop

['discount', 'num_beds']

In [71]:
df1.drop(columns=columns_to_drop,inplace=True)

In [72]:
# dfa=df1.copy()

In [73]:
# from sklearn.impute import KNNImputer
# new_df = dfa[["Roomsize"]]
# knn_imputer = KNNImputer(n_neighbors=5)  # n_neighbors is the number of neighboring samples to use
# imputed_array = knn_imputer.fit_transform(new_df)

# # Create a new DataFrame with the imputed values
# imputed_df = pd.DataFrame(imputed_array, columns=["Roomsize"])

# # Replace the original 'roomsize' column with the imputed values
# dfa['Roomsize'] = imputed_df['Roomsize']

In [74]:
df1.columns.to_list()

['propertycode',
 'roomtype',
 'onsiteprice',
 'maxoccupancy',
 'ispromo',
 'closed',
 'Separate living room:',
 'Sewing kit:',
 'Alarm clock:',
 'Locker:',
 'Kitchenware:',
 'Desk:',
 'Seating area:',
 'Dressing room:',
 'Sofa:',
 'Slippers:',
 'Towels:',
 'Air conditioning:',
 'Toiletries:',
 'Heating:',
 'Umbrella:',
 'Video game console:',
 'Washing machine:',
 'Vending machine:',
 'Wi-Fi [charges apply]:',
 'Full kitchen:',
 'Telephone:',
 'Microwave:',
 'Dart board:',
 'Wi-Fi [free]:',
 'Free instant coffee:',
 'Interconnecting room(s) available:',
 'iPod docking station:',
 'Laptop safe box:',
 'Coffee/tea maker:',
 'Blackout curtains:',
 'Refrigerator:',
 'Ironing facilities:',
 'Additional toilet:',
 'Shower:',
 'Fire extinguisher:',
 'Fireplace:',
 'Daily housekeeping:',
 'Carpeting:',
 'Fan:',
 'Complimentary tea:',
 'TV:',
 'Mirror:',
 'Mosquito net:',
 'High floor:',
 'DVD/CD player:',
 'Mini bar:',
 'On-demand movies:',
 'High chair:',
 'Clothes dryer:',
 'Additional bathroom:',
 'Clothes rack:',
 'Trouser press:',
 'Soundproofing:',
 'Free Wi-Fi in all rooms!:',
 'Closet:',
 'Hair dryer:',
 'Wi-Fi in public areas:',
 'Free bottled water:',
 'Shoeshine kit:',
 'Separate dining area:',
 'Satellite/cable channels:',
 'Internet access ï¿?wireless:',
 'Carbon monoxide detector:',
 'Smoke detector:',
 'Extra long bed:',
 'Wake-up service:',
 'Bathroom phone:',
 'In-room tablet:',
 'Free welcome drink:',
 'Bathrobes:',
 'Dishwasher:',
 'Whirlpool bathtub:',
 'Daily newspaper:',
 'TV [flat screen]:',
 'Cleaning products:',
 'In-room safe box:',
 'Roomsize',
 'Free cancellation',
 'Pay at the hotel',
 'Sea_View',
 'discount_percent',
 'Early_Booking_Saver',
 'Limited_time_offer',
 'Super_Saver',
 'num_people',
 'Free_Breakfast',
 'Dinner',
 'Lunch',
 'Free_WiFi',
 'Parking',
 'All_Inclusive',
 'Beverages',
 'dtday',
 'reservation_month',
 'reservation_year',
 'reservation_day',
 'input_dtmonth',
 'input_dtyear',
 'input_dtday']

In [84]:
from sklearn.impute import KNNImputer
new_df = df1[["Roomsize"]]
knn_imputer = KNNImputer(n_neighbors=5)  # n_neighbors is the number of neighboring samples to use
imputed_array = knn_imputer.fit_transform(new_df)

# Create a new DataFrame with the imputed values
imputed_df = pd.DataFrame(imputed_array, columns=["Roomsize"])

# Replace the original 'roomsize' column with the imputed values
df1['Roomsize'] = imputed_df['Roomsize']

In [85]:
df1["roomtype"]

0                  Double Room
1                Vacation Home
2                Vacation Home
3         Standard Triple Room
4         Standard Triple Room
                  ...
165868               Twin Room
165869               Twin Room
165870               Twin Room
165871           Twin Standard
165872         Double Standard
Name: roomtype, Length: 165873, dtype: object

In [95]:
df1.drop(columns=["roomtype"],inplace=True)

KeyError: "['roomtype'] not found in axis"

In [96]:
X=df1.drop(columns=["onsiteprice"])
y=df1["onsiteprice"]

In [97]:
df1.isnull().sum()

propertycode        0
onsiteprice         0
maxoccupancy        0
ispromo             0
closed              0
                   ..
reservation_year    0
reservation_day     0
input_dtmonth       0
input_dtyear        0
input_dtday         0
Length: 104, dtype: int64

In [98]:
# Assuming 'df' is your DataFrame
has_nan = df1.isnull().values.any()
has_nan

False

In [99]:
# Assuming 'df' is your DataFrame
rows_with_nan = df[df.isnull().any(axis=1)]
print("Rows with NaN values:")
print(rows_with_nan)

Rows with NaN values:
Empty DataFrame
Columns: [Unnamed: 0, propertycode, Maximum, Minimum, Normalized Maximum]
Index: []

In [100]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [101]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()